<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">

	<div class="row">
		<div class="col-sm-12">
			<h1>{{title}} <i class="fa fa-money" aria-hidden="true" style="color: green;"></i></h1>
			<p><strong>Cena zakupu:</strong> <input [(ngModel)]="cenaZakupu" type="number" step="1000" (change)="newTotalCost()" (change)="rataKredytu()"/></p>
			<p><strong>Wkład własny:</strong> <input [(ngModel)]="wkladWlasny" type="number" step="1000" (change)="newTotalCost()" (change)="rataKredytu()" (change)="getDochod()"/></p>
			<p><strong>Wkład własny wyrażony procentowo:</strong> <span *ngIf="wkladWlasny">{{(wkladWlasny/cenaZakupu | percent: "1.1-2")}}</span></p>
			<p><strong>Kwota kredytu:</strong> <span [innerText]="kwotaKredytu()"></span></p>

		</div>
	</div>
	<div class="row mb-4">
		<div class="col-md-6 col-lg-7 mb-5">
			<div class="jumbotron high">

				<h3 class="mb-4">Wybierz na jakim rynku kupujesz</h3>
				<hr/>
				
				<div>
				    <div class="form-check form-check-inline">
				    	<input class="form-check-input" id="rynek_p" type="radio" [(ngModel)]="rynekZakupu" (change)="newTotalCost()" name="rynekZakupu" value="rynek_pierwotny">
				    	<label class="form-check-label" for="rynek_p">Rynek pierwotny</label>
				    </div>
				    <div class="form-check form-check-inline">
				    	<input class="form-check-input" id="rynek_w" type="radio" [(ngModel)]="rynekZakupu" (change)="newTotalCost()" name="rynekZakupu" value="rynek_wtorny">
				    	<label class="form-check-label" for="rynek_w">Rynek wtórny</label>
				    </div>
				</div>

		    	<h5 *ngIf="rynekZakupu=='rynek_pierwotny'">Koszty na rynku pierwotnym</h5>
				<h5 *ngIf="rynekZakupu=='rynek_wtorny'">Koszty na rynku Wtórnym</h5>


				<div *ngIf="rynekZakupu=='rynek_pierwotny'">
					<p (change)="newTotalCost()">Notariusz: {{notariusz}}</p>
				</div>

				<div *ngIf="rynekZakupu=='rynek_wtorny'">
					<p (change)="newTotalCost()">Notariusz: {{notariusz}}</p>
					<p>Podatek pcc: {{cenaZakupu*podatekPcc}}</p>
					<p>Prowizja Agencji: <input [(ngModel)]="prowizjaAgencji" type="number" value="1" min="0" max="10" style="width:40px;" (change)="newTotalCost()"/>% = <span *ngIf="prowizjaAgencji">{{cenaZakupu*(prowizjaAgencji/100)}}</span></p>
				</div>

				<h3 class="mb-4">Kredyt</h3>
				<hr/>

				<p>Prowizja banku: <input [(ngModel)]="prowizjaBanku" type="number" value="1" min="0" max="10" style="width:40px;" (change)="newTotalCost()"/>% = {{cenaZakupu*(prowizjaBanku/100)}}</p>
				<p>Marża banku: <input [(ngModel)]="marzaBanku" (change)="rataKredytu()" (change)="getDochod()" type="number" value="1" min="0" max="10" style="width:40px;"/>%</p>
				<p>Ilość lat kredytu: <input [(ngModel)]="lataKredytu" (change)="rataKredytu()" (change)="getDochod()" type="number" value="30" min="1" max="35" style="width:40px;" /> lat</p>

				<p>Orientacyjna wysokość raty: <strong>{{rata | number:'1.1-2'}}</strong> /miesięcznie, <strong>{{lataKredytu*12}}</strong> rat</p>

			</div>
		</div>

		<div class="col-md-6 col-lg-5 mb-5">
			<div class="jumbotron high alert alert-success">
				<h3 class="mb-4">Koszty:</h3>
				<h4 class="text-left mb-3">Początkowe: <span class="badge badge-primary badge-pill">{{cost}}</span></h4>
				<h4 class="text-left mb-3">Stałe: <span class="badge badge-primary badge-pill" ></span></h4>
				
				<hr/>

				<h3 class="mb-4 text-left">Przychody:</h3>
				
				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Wysokość czynszu
				    <span class="badge badge-primary badge-pill"><input [(ngModel)]="czynsz" (change)="getDochod()" type="number" step="10" class="pill-input"/></span>
				  </li>
				</ul>

				<h3 class="mt-3 mb-4 text-left">Zysk/Strata:</h3>
				
				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center">
				    Rata - czynsz <span *ngIf="dochod>0" class="bg-success white">ZYSK:</span> <span *ngIf="dochod<0" class="bg-danger white">STRATA:</span>
				    <span class="badge badge-primary badge-pill">{{dochod | number:'1.1-2'}}</span>
				  </li>

				</ul>

			</div>
		</div>
	</div>

</div>
