/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "variables";


h1{
	color: $primary;
}

body {
  background: white url('images/summer-grass.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.jumbotron{
	padding: 1rem;
	opacity: 0.9;
}

.form-check-inline{
	position: relative;
	margin: 0 30px 0 0;

	input[type=checkbox], input[type=radio]{
		position: absolute;
		left: 0;
		top: 2px;
	}

	.form-check-label{
		padding: 0 0 30px 0;
	}
}

.high{
	height: 100%;
}

.white{
	color: white;
}

.pill-input{
	background: transparent;
	border: none;
	color: white;
	text-align: center;
	width: 65px;
	font-size: 16px;
}