/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-size: 250%;
}

body {
  background-color: gray-light;
}

.margin-top-none{
	margin-top: 0;
}